.login{
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffdf1;
    font-family: sans-serif;
}
.login-container{
    height: 450px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
    background: white;
    box-shadow: 5px 5px 10px gray;
} 
.login-container h1{
    color: black;
    font-size: 2rem;
}
.login-container p{
    font-size: 1.1rem;
    margin-block: 1rem;
    color: black;
}
.form-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
}
.form-container input{
    height: 50px;
    width:auto;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
}
.error-container{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 10px;
}
.error-text {
    font-size: 1rem;
    color: #BF4646;
}

.isloading{
    display: inline-flex;
    align-items: center;
}
.animate{
    margin-left: -0.25rem;  
    margin-right: 0.75rem;  
    height: 1.25rem;         
    width: 1.25rem;        
    color: white; 
    animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.opa{
    opacity: 0.25;
}
.opa1{
    opacity: 0.75;
}
.login-btn{
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    background-color: #BF4646;
}
.form-extras{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.extra-1{
    cursor: pointer;
    font-weight: bold;
    color: #BF4646;
}
@media (max-width: 768px) {
    .login-container{
        margin-bottom: 100px;
    } 
}