.navbar {
  align-items: center;
  padding-top: 0.75rem; 
  padding-bottom: 0.75rem;
  padding-left: 1rem;   
  padding-right: 1rem;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  border-bottom: 1px solid #BF4646;
  background: #fbf4e3;
  z-index: 50;
}

@media (min-width: 640px) {
  .navbar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.navbar-01{
  display: none; /* hidden */
}
.navbar-02{
    display: flex;
    align-items: center;
}

.navbar-left{
    font-size: 1.5rem;     
    line-height: 2rem;
    font-weight: 800;     
    letter-spacing: -0.025em;
    color: #1E293B;     
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.navbar-right{
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar-03{
    display: inline-block;  
    color: #BF4646;       
    transition: transform 300ms;
}
.navbar-04{
    display: inline-block;
    color: #B45309;
    margin-left: 6px
}
.navbar-search{
    width: auto;
}
.mobile-header {
  display: block;
}

/* Hide on 640px and up */
@media (min-width: 640px) {
  .mobile-header {
    display: none;
  }
}
.gradient-button {
  cursor: pointer;
  width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-radius: 5px;
  background: #BF4646;
  color: #ffffff;
}
.gradient-button:hover{
  background: #f37272;
}
.mobile-add-button {
  cursor: pointer;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  background: #BF4646;
  color: #ffffff;
}
.mobile-add-button:hover{
  background: #f37272;
}

/* flex justify-between items-center */
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* text-2xl font-extrabold tracking-tight drop-shadow-sm */
.header-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.mobile-navbar-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* text-[#16A34A] */
.brand-primary {
  color: #BF4646;
}

/* text-[#B45309] */
.brand-secondary {
  color: #B45309;
  margin-left: 6px;
}

/* focus:outline-none */
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

/* w-6 h-6 text-[#1E293B] */
.menu-icon {
  margin-top: 6px;
  width: 2rem;   /* 24px */
  height: 2rem;
  color: #BF4646;
  
}
.navbar-mobile-search{
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    gap: 0.75rem;
    
}
.mobile-profile-view{
    margin-top: 0.5rem;
    
}
@media (min-width: 640px) {
  .navbar-01 {
    display: flex;           
    flex-direction: row;       
    align-items: center;       
    justify-content: space-between; 
    gap: 0;               
  }
}
