.tags-container{
    display: flex;          
    align-items: center;    
    gap: 0.5rem;           
    flex-wrap: wrap;       
    margin-top: 0.5rem; 
}
.badge{
    display: flex;            
    align-items: center;       
    gap: 0.5rem;                
    font-size: 0.875rem;     
    color: #BF4646;            
    background-color: rgba(181, 181, 181, 0.212);  
    padding-left: 0.75rem;     
    padding-right: 0.75rem;
    padding-top: 0.25rem;      
    padding-bottom: 0.25rem;
    border-radius: 9999px;     
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.tag-button{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 150ms ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    background: #BF4646;
    color: white;
    border: none;
}
.tag-button:hover {
    background: #e39f9f;
}
.tags-03{
    display: flex;
    align-items: center;
    gap: 1rem;        
    margin-top: 0.75rem;
}
.tags-input{
    font-size: 0.875rem;
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    outline: none;
    background-color: #FFFFFF;
    transition: all 200ms ease;
}
.tags-input::placeholder {
    color: #94A3B8; 
}

.tags-button-01{
    width: 2rem;              
    height: 2rem;          
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;  
    border: 1px solid black;
    background: #BF4646;  
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 200ms ease;
}
.tags-button-01:hover {
  background-color: #ed6e6e;
}
.tags-add-btn{
    cursor: pointer;            
    font-size: 1.5rem;  
    color: white;            
}
.tags-add-btn:hover {
  background-color: #ed6e6e;         
}