.password-container{
    display: flex;
    width: auto;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: all 200ms ease;
}


.password-container:focus-within {
    border-color: #16A34A;
}
.input-password{
    flex: 1; 
    background-color: transparent;
    font-size: 0.875rem; 
    color: #1E293B;
    outline: none;
    border: none; 
}
.input-password::placeholder {
  color: #94A3B8;
}
.password-buttons{
    position: absolute;
    right: 10px;
    border: none;
    background: transparent;
}
.password-buttons:focus{
    outline: none;
}
.show-password{
    color: black;   
    cursor: pointer; 
    transition: color 200ms ease;
}
.hide-password{
    color: #BF4646;              /* default text color */
    transition: color 200ms ease;
}
.hide-password:hover{
    color: #B45309; 
}